.container {
    margin: 0 auto;
    width: 73%;
    height: 30rem;
    
}

.sub-container {
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 auto;
    height: 90%;
    padding: 2.5rem;
}

.text-content {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-between;
    height: 93%;
}

.image {
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.project-card {
    align-self: center;
    height: 100%;
    width: 60%;
}

.text-content h4 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: #333;
    font-size: 30px;
}

.profile p {
    color: #bbb;
}